@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-dark: hsl(0, 25%, 2%);
  --secondary-dark: hsl(60, 4%, 5%);
  --primary-text: hsl(0, 0%, 100%);
  --secondary-text: hsl(0, 0%, 100%, .5);
  --yellow: hsl(47, 100%, 54%);
  --yellow-darken: hsl(47, 100%, 44%);
  --pink: hsl(330, 100%, 44%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary-text);
  font-family: 'Inter', verdana, arial, helvetica;
}

body {
  background-color: var(--primary-dark);
}

body p {
  line-height: 1.7;
}

body header {
  height: 70px;
  border-bottom: 1px solid var(--secondary-dark);
}

body header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav h1.business-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Grenze Gotisch', cursive, verdana, arial, helvetica;
  font-size: 34px;
}

body header nav h1.business-name span {
  color: var(--yellow);
  font-family: 'Grenze Gotisch', cursive, verdana, arial, helvetica;
}

body header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

body header nav ul li a {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-inline: 12px;
  padding: 5px 0;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

body header nav ul li a:hover {
  color: var(--yellow);
}

body header nav ul li:hover a {
  color: var(--yellow);
}

body header nav ul li:hover a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--yellow);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  -webkit-animation: underline 350ms ease forwards;
          animation: underline 350ms ease forwards;
}

body header nav ul li.active a {
  color: var(--yellow);
}

body header nav ul li.active a::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--yellow);
  height: 2px;
  width: 100%;
  border-radius: 5px;
}

body main .section_login {
  margin: 100px auto;
  padding: 50px;
  background-color: var(--secondary-dark);
  width: 600px;
  border-radius: 10px;
}

body main .section_login h1 {
  font-size: 34px;
  text-align: center;
  font-weight: 500;
}

body main .section_login > p {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

body main .section_login > p > a {
  color: var(--yellow);
}

body main .section_login form {
  margin-inline: auto;
  width: 480px;
}

body main .section_login form > label {
  display: block;
  margin: 20px auto;
}

body main .section_login form > label p {
  font-size: 12px;
}

body main .section_login form > label p.error-email, body main .section_login form > label p.error-password {
  opacity: 0;
  color: #ff0040;
}

body main .section_login form > label > input[type="text"] {
  padding: 10px 15px;
  width: 480px;
  background-color: transparent;
  border: none;
  border-bottom: 0.3px solid var(--secondary-text);
}

body main .section_login form button {
  padding: 10px 0;
  width: 100%;
  border: none;
  font-size: 16px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--secondary-dark);
  border-radius: 5px;
  cursor: pointer;
}

body main .section_login form button:hover {
  background-color: var(--yellow-darken);
}

body main .section_login form .login_user-assistant {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .section_login form .login_user-assistant label {
  display: block;
  cursor: pointer;
}

body main .section_login form .login_user-assistant label input[type="checkbox"] {
  border: none;
  background-color: transparent;
}

body main .section_login form .login_user-assistant p, body main .section_login form .login_user-assistant .forgot-password a {
  font-size: 13px;
  color: var(--secondary-text);
  font-weight: 300;
  text-decoration: none;
}

body footer {
  background-color: var(--secondary-dark);
}

body footer h2.business-name {
  padding: 20px 0;
  text-align: center;
  font-family: 'Grenze Gotisch', cursive, verdana, arial, helvetica;
  font-size: 34px;
}

body footer h2.business-name span {
  color: var(--yellow);
  font-family: 'Grenze Gotisch', cursive, verdana, arial, helvetica;
}

body footer .business-description {
  margin-inline: auto;
  width: 650px;
  text-align: center;
  color: var(--secondary-text);
  font-weight: 200;
}

body footer .icons {
  padding: 20px 0;
  text-align: center;
}

body footer .icons span {
  padding: 0 7px;
}

body footer .footer-copyright {
  padding: 15px;
  background-color: var(--primary-dark);
}

body footer .footer-copyright p {
  text-align: center;
  font-size: 14px;
}

@-webkit-keyframes underline {
  0% {
    position: absolute;
    opacity: 0;
    bottom: -5px;
  }
  100% {
    position: absolute;
    opacity: 1;
    bottom: 0;
  }
}

@keyframes underline {
  0% {
    position: absolute;
    opacity: 0;
    bottom: -5px;
  }
  100% {
    position: absolute;
    opacity: 1;
    bottom: 0;
  }
}
/*# sourceMappingURL=login.css.map */